/* screen 1399px  */
@media (max-width: 1399px) {
  header .container-fluid {
    padding: 0 10px;
  }
  .header-content h1 {
    font-size: 85px;
  }
  .header-content p {
    font-size: 23px;
  }
}
/* screen 1199px  */
@media (max-width: 1199px) {
  .header-content h1 {
    font-size: 70px;
  }
  .header-content p {
    font-size: 20px;
  }
  header .navbar-light .navbar-nav .nav-link {
    font-size: 18px;
  }
  .section-title h1 {
    font-size: 50px;
  }
  .work-card i {
    font-size: 55px;
  }
  .work-card h3 {
    font-size: 22px;
  }
  .work-card .code-icon {
    font-size: 18px;
  }
  .our-projects .product-menu li button {
    font-size: 20px;
  }
}
/* screen 991px  */
@media (max-width: 991px) {
  header .navbar-light .navbar-nav .nav-link {
    text-align: center;
    margin-bottom: 5px;
  }
}
